// Colors
$clr1: #014E56;;
$clr2: #004047;
$clr3: #012F34;
$clr4: #F67E7E;
$clr5: #79C8C7;
$clr6: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;